@mixin text_1 {
    font-family: 'Raleway';
    font-weight: 900;
    line-height: 75px;
    font-size: 64px;
    @media(width <= $md) {
        font-size: 48px;
    }
    @media(width <= $sm) {
        font-size: 36px;
    }
}

@mixin text_2 {
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 42px;
    font-size: 36px;
}

@mixin text_3 {
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 35px;
    font-size: 30px;
    @media(width <= $md) {
        font-size: 24px;
    }
    @media(width <= $sm) {
        font-size: 18px;
    }
}

@mixin text_4 {
    font-family: 'Raleway';
    font-weight: 900;
    line-height: 24px;
    font-size: 24px;
    @media(width <= $md) {
        font-size: 18px;
    }
}

@mixin text_5 {
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    @media(width <= $md) {
        font-size: 14px;
    }
}

@mixin text_6 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 15px;
    font-size: 13px;
    @media(width <= $md) {
        font-size: 12px;
    }
    @media(width <= $sm) {
        font-size: 13px;
    }
}

@mixin button($background-color) {
    width: 370px;
    height: 80px;
    display: block;
    margin: auto;
    background-color: $background-color;

    line-height: 80px;
    text-align: center;

    font-family: 'Raleway';
    font-weight: 900;
    font-size: 24px;
    color: #fff;

    &:hover {
        background: $button-hover-color;
    }
    &:active {
        background: $button-active-color;
        box-shadow: $button-shadow;
    }

    @media (width <= 414px) {
        width: calc(100% - 10px);
    }
}

@mixin navigation_underline($color) {
    &::after {
        content: '';
        display: block;
        margin: 32px auto 0;
        width: 134px;
        height: 3px;
        background: $color;
    }
}

@mixin work_mask ($mask-color){
    &:hover {
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(255, 67, 67, 0.8), rgba(255, 67, 67, 0.8)),
            linear-gradient(0deg, #FFFFFF, #FFFFFF);
            
        }
    }
}