.download {
    padding: 114px 0;
    background-color: #fff;

    @media (width <= $md) {
        padding: 77px 0 78px;
    }

    @media (width <= 550px) {
        padding: 34px 0 45px;
    }
}

.download-wrapper {

}

.download-title {
    text-align: center;
    @include text_3;

    @media (width <= 590px)  {
        margin: auto;
        width: 85%;
    }
}

.download-info {
    margin: 20px auto 43px;
    text-align: center;
    p {
        @include text_5;
    }

    @media (width <= 550px) {
        margin-bottom: 11px;
    }
}

.download-link {
    @include button($button-normal-color);
}