.features {
    background-color: #fff;
    padding: 116px 0;

    @media (width <= $lg) {
        padding: 78px 0 80px;
    }

    @media (width <= $md) {
        padding: 40px 0 35px;
    }
}

.features-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    @media (width <= 550px) {
        flex-direction: column;
    }
}

.feature {
    width: 30%;
    margin-bottom: 49px;
    text-align: center;

    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    &:nth-last-child(2) {
        margin-bottom: 0;
    }

    &:nth-last-child(3) {
        margin-bottom: 0;
    }

    @media (width <= 800px) {
        width: 47%;
        margin-bottom: 49px;
        
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }

    @media (width <= 550px) {
        width: 90%;
        margin-bottom: 49px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.feature-icon {
    width: 100px;
    height: 100px;
    margin: auto;

    margin-bottom: 29px;

    @media (width <= $lg) {
        margin-bottom: 24px;
    }

    @media (width <= $md) {
        margin-bottom: 22px;
    }
}

.feature-icon img {
    object-position: center;
    object-fit: contain;
    color: #FF4343;
}

.feature-title {
    @include text_4;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 30px;

    @media (width <= $lg) {
        margin-bottom: 20px;
    }

    @media (width <= $md) {
        margin-bottom: 15px;
    }
}

.feature-text {
    text-align: center;
    margin: auto;

    p {
        @include text_5;
        color: #6C7279;
        font-weight: 400;
    }

    @media (width <= 800px) {
        width: 70%;
    }
}