.header {
    padding-bottom: 120px;
    background: url('../img/bg/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #252B498C;
}

.header .container {
    position: relative;
    z-index: 10;
}

.navigation-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto 129px;
    position: relative;

    @media (width <= 640px) {
        width: 87.5%;
        height: 56px;
        border-bottom: none;
        margin-bottom: 50px;
    }
}

.navigation-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background-color: #BABBC5;
}

.logo-part {
    display: inline-block;
    object-fit: fill;
}

.logo-part img {
    height: 25px;
    @media (width <= 640px) {
        height: 15px;
    }
}

.menu {
    display: none;
    width: 59px;
    height: 59px;
    @media (width <= 640px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu img {
    object-position: center;
    object-fit: contain;
}

.navigation-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 670px;
    @media (width <= $md) {
        width: 566px;
    }
    @media (width <= 810px) {
        width: 400px;
    }
    @media (width <= 640px) {
        display: none;
    }
}

.active-navigation-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 84px;
    left: 0;
    width: 100%;
    height: 319px;
}

.navigation-list-item {
    @include text_6();
    color: #fff;
    text-transform: uppercase;
    position: relative;

    display: inline-block;
    text-align: center;
    @media (width <= $sm) {
        width: 87.5%;
        text-align: left;
    }

    transition: 0.4s;

    &:hover {
        cursor: pointer;
        @include navigation_underline($nav-hover-underline-color);
    }

    &:active {
        color: $nav-active-color;
        @include navigation_underline($nav-active-color);
    }
}

.opacity-full {
    opacity: 0.0;
}

.main-title {
    @include text_1();
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 31px;
    @media (width <= $lg) {
        width: 85%;
    }
}

.header-content {
    text-align: center;
    margin: 0 auto 79px;
    @media (width <= $lg) {
        width: 85%;
    }
}

.header-content p {
    @include text_4();
    font-weight: 400;
    color: #fff;
}

.download-link {
    @include button($button-normal-color);
}