@import './cdn.scss';
@import './variables.scss';
@import './mixins.scss';
@import './header.scss';
@import './features.scss';
@import './work.scss';
@import './our_team.scss';
@import './testimonials.scss';
@import './download.scss';
@import './footer.scss';

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    margin: auto;
    width: 1170px;

    @media (width <= $lg) {
        width: calc(100% - 20px);
    }

    @media (width <= $md) {
        width: 96%;
    }
}

.social-icon {
    width: 39px;
    height: 39px;
    margin-right: 5px;
    border: 1px solid #C6CBCD;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: 0.6s;

    &:hover {
        background-color: rgba(255, 67, 67, 0.8);
    }

    &:last-child {
        margin-right: 0;
    }

    @media (width <= $lg) {
        width: 33px;
        height: 33px;
        margin-right: 4px;
    }

    @media (width <= $md) {
        width: 39.6px;
        height: 39.6px;
        margin-right: 6px;
    }

    i {
        color: #C6CBCD;
        font-size: 18px;
    }
}