.team{
    background-color: #fff;
    padding: 114px 0;

    @media (width <= $lg) {
        padding: 78px 0;
    }
    
    @media (width <= $md) {
        padding: 35px 0 41px;
    }
}

.team-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;

    @media (width <= 661px) {
        flex-direction: column;
    }
}

.person-card {
    width: 23%;
    display: flex;
    flex-direction: column;

    @media (width <= 1430px) {
        width: 30%;
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (width <= 1050px) {
        width: 45%;
    }

    @media (width <= 661px) {
        width: 100%;
        margin-bottom: 56px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.person-card__img {
    width: 100%;
    height: 270px;
    overflow: hidden;
    margin-bottom: 30px;

    @media (width <= $lg) {
        height: 227px;
        margin-bottom: 25px;
    }

    transition: 0.3s;
    &:hover {
        cursor: pointer;
        scale: (1.05);
    }

    img {
        object-position: center;
        object-fit: cover;
    }
}

.person-card__name {
    @include text_4;
    font-weight: 700;
    margin-bottom: 5px;
    
    @media (width <= $lg) {
        margin-bottom: 4.5px;
    }    
}

.person-card__job {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    color: #FF4343;
    text-transform: uppercase;
    margin-bottom: 18px;
    
    @media (width <= $lg) {
        margin-bottom: 22.5px;
    }
    
    @media (width <= $md) {
        margin-bottom: 38.5px;
    }
}

.person-card__info {
    margin-bottom: 38px;
    flex-grow: 1;
    
    @media (width <= $lg) {
        margin-bottom: 39px;
    }

    @media (width <= $md) {
        margin-bottom: 55px;
    }

    p {
        font-family: Raleway;
        font-size: 18px;    
        font-weight: 400;
        color: #6C7279;

        @media (width <= $lg) {
            font-size: 14px;
        }
    }
}